html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

main {
	text-align: center;
}

img {
	display: inline-block;
	width: 30%;
	margin: 32px 16px;
}

button[type="submit"] {
	transition: color 0.1s;
}

button[type="submit"]:hover, 
button[type="submit"]:focus {
	color: red;
}